Host *
LogLevel QUIET
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
ControlMaster auto
ControlPersist 600
ControlPath ~/.ssh/instance_socket-%r@%h:%p
ForwardAgent yes
TCPKeepAlive yes
ServerAliveInterval 250
ServerAliveCountMax 20
# BatchMode yes

# 172.16.0.0/16 - dev

#dev-bastion
Host                bastion.vamshi.cf
IdentityFile        ./_ssh/dev-env-key.pem

# dev-vpc-prv-ip
Host 172.*
ProxyCommand           ssh -i ./_ssh/dev-env-key.pem -W %h:%p ubuntu@bastion.vamshi.cf
User                   ubuntu
IdentityFile           ./_ssh/dev-env-key.pem