# Created by .ignore support plugin (hsz.mobi)
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm and Rider
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
.idea

### Ansible template
*.retry

### Local
_ssh
_logs
credentials_aws
credentials.txt
.DS*
inventory/*aws_ec2.yaml

# Terraform Ignore
.terraform
.terraform.lock.hcl
terraform.tfstate
.terraform.tfstate.lock.info
terraform.tfstate.backup

# Ansible Vault
vault-password.txt
